table{
    border: 1px solid black;
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;

}
td{
    border: 1px solid black;
}
#header{
    height: 50px;
}
#menu{
    height: 10px;
}
#main{
    height:200px;
}
#footer{
    height: 50px;
}

#left, #right{
    width: 20%;
}

