@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #f0f0f0;
    font-family: Montserrat, Arial, sans-serif;
    font-weight: 500;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

[class*="column-"] {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 100%;
    min-width: 1px;
}

.column-2 {
    flex: 0 0 50%;
}

.column-3 {
    flex: 0 0 33.3%;
}

a {
    color: #0f1384;
}

a:hover {
    color: #151abc;
}

.mb {
    margin-bottom: 20px;
}

.text-center {
    text-align: center;
}

.heading {
    font-size: 3rem;
    line-height: 1.5;
    text-align: center;
    margin: 3.5rem 0;
    color: #1a1a1a;
}

.justify-content-between {
    justify-content: space-between;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.img-border {
    border: 4px solid #dbdbdb;
    transition: 0.5s;
}

.tab:hover .img-border,
.testimonial:hover .img-border,
.img-border:hover {
    border-color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
}

.btn{
    display: inline-block;
    height: 38px;
    padding: 5px 30px;
    color: #fff;
    text-align: center;
    line-height: 28px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #0f1384;
    cursor: pointer;
    transition: 0.5s;

}

.btn:hover{
    background-color: #8488f8;
    text-decoration: none;
    color:#0f1384
}