@keyframes moveLeft{
    0%{
        transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes moveRight{
    0%{
        transform: translateX(100%);
        opacity: 0;
    }
}


header{
    height: 500px;
    background: url(../images/header-bg.jpg)
    no-repeat center #0f1384;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 3em;
    animation: moveLeft 0.5s ease-out 0.3s backwards;
}

header h2{
    font-size: 2em;
    animation: moveRight 0.5s ease-out 0.8s backwards;
}

#footer{
    background-color: #0f1384;
    color: #fff;
    margin-top: 3.5rem;
    padding: 20px 0;    
}

#footer .row{
    margin: 0;
}

#footer a{
    color: #c0d9fc;
    display: inline-block;
    margin-left: 5px;
}

.main-nav{
    position: fixed;
    top: 0px;
    z-index: 10;
    padding: 10px;
    background-color: #fff;
    width: 100%;
    min-height: 65px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.38);
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    & li{
        margin-left: 35px;
        line-height: 1.5;
        letter-spacing: 1px;
    }
    & a{
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        text-decoration: none;
        border-bottom: 2px solid transparent;
        padding-bottom: 4px;
        transition: 0.5s;
    }
    & a:hover{
        color: #989898;
        border-bottom-color: #989898;
    }
}

.mobile-toggle{
    display: none;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    right: 22px;
    top: 20px;
    width: 30px;
}

